<html>

<head>
    <title>URL Shortener</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.0.0-beta.2/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@1.4.1/dist/bootstrap-vue.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/tether@latest/dist/js/tether.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@1.4.1/dist/bootstrap-vue.js"></script>
</head>

<body>
    <h1>Url Shortener</h1>
    <div id="app">
        <b-alert variant="danger" dismissible :show="alertText && showAlert" @dismissed="showAlert=false">
            {{ alertText }}
        </b-alert>
        <div v-if="busy" style="position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0, 0.6);">
            <br /><br /><br />
            <h1 class="text-center" style="vertical-align: middle; color: white;">Loading...</h1>
        </div>
        <b-card title="Create URL" style="max-width: 20rem; float:left;" class="mb-2">
            <div class="card-text">
                <p>Base URL: {{baseUrl}}</p>
                <p>
                    Enter Code:
                    <b-form-input type="password" v-model="code"></b-form-input>
                </p>
                <p>
                    Enter Title:
                    <b-form-input type="text" v-model="title"></b-form-input>
                </p>
                <p>
                    Enter Message:
                    <b-form-input type="text" v-model="message"></b-form-input>
                </p>
                <p>
                    Enter URL:
                    <b-form-input type="text" v-model="url"></b-form-input>
                </p>
                <p>
                    Enter Campaign:
                    <b-form-input type="text" v-model="campaign"></b-form-input>
                </p>
                <p>
                    Enter ShortCode (Optional):
                    <b-form-input type="text" v-model="shortCode"></b-form-input>
                </p>
                <br />
                <b-form-checkbox v-model="tagUtm">Tag Utm?</b-form-checkbox>
                <b-form-checkbox v-model="tagWt">Tag WT?</b-form-checkbox>
                <b-form-checkbox v-model="twitter">Twitter?</b-form-checkbox>
                <b-form-checkbox v-model="linkedin">LinkedIn?</b-form-checkbox>
                <p>
                    Custom Medium:
                    <b-form-input type="text" v-model="medium"></b-form-input>
                </p>
                <br />
                <b-button :disabled="busy" @click="shorten">Shorten</b-button>
            </div>
        </b-card>
        <b-card title="Shortened URLs" class="mb-2">
            <div class="card-text">
                <div v-if="urls.length === 0">(no urls)</div>
                <div v-if="urls.length">
                    <div style="max-height: 400px; overflow-y: scroll;">
                        <p v-for="url in urls"><strong>{{url.ShortUrl}}</strong> | {{url.LongUrl}}</p>
                    </div>
                </div>
            </div>
        </b-card>
    </div>
    <script>
        const apiRoot = `${window.location.href.split('/').slice(0, 3).join('/')}/api/ShortenUrl`;

        const mediums = data => {
            var result = [];
            if (data.twitter) {
                result.push("twitter");
            }
            if (data.linkedin) {
                result.push("linkedin");
            }
            if (data.medium && data.medium.length > 0) {
                result.push(data.medium);
            }
            return result;
        };

        var app = new Vue({

            el: '#app',

            data: {
                baseUrl: apiRoot,
                url: '',
                title: '',
                code: '',
                message: '',
                tagUtm: true,
                tagWt: true,
                facebook: true,
                linkedin: true,
                twitter: true,
                medium: '',
                shortCode: '',
                campaign: "link",
                urls: [],
                busy: false,
                alertText: null,
                showAlert: false
            },

            created: function () {
                this.showAlert = false;
                this.busy = false;
            },

            watch: {

                // set busy flag when count of pending asynchronous operations changes
                // could change busy to a computed field too
                'busyCount': function () {
                    this.busy = this.busyCount > 0;
                }
            },

            methods: {

                // get the group list
                shorten: function () {
                    var _this = this;
                    var mediumList = mediums(_this);

                    if (_this.shortCode != '' && mediumList.length > 1) {
                        _this.showAlert = true;
                        _this.alertText = 'Custom ShortCode not Allowed for Multiple Mediums';
                        return;
                    }
                    else {

                        this.busyCount++;
                        $.ajax({
                            type: 'POST',
                            url: `${_this.baseUrl}?code=${_this.code}`,
                            data: JSON.stringify({
                                tagUtm: _this.tagUtm,
                                title: _this.title,
                                message: _this.message,
                                tagWt: _this.tagWt,
                                campaign: _this.campaign,
                                shortCode: _this.shortCode,
                                mediums: mediumList,
                                input: encodeURI(_this.url)
                            }),
                            contentType: 'application/json'
                        })
                            .done(function (data) {
                                data.forEach(function (url) {
                                    url.ShortUrl = url.ShortUrl.replace('localhost', 'isaacl.dev').replace('levin-url-shortener.azurewebsites.net', 'isaacl.dev');
                                });
                                for (var i = 0; i < data.length; i++)
                                {
                                    _this.urls.push(data[i]);                                
                                }
                                _this.shortCode = '';
                                _this.url = '';
                                _this.title = '',
                                _this.message = '',
                                _this.showAlert = false;
                                _this.alertText = '';
                            }).fail(function (err) {
                                _this.showAlert = true;
                                _this.alertText = err;
                            }).always(function () { _this.busyCount--; });
                    }
                }
            }
        });
    </script>
</body>

</html>
